body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #222;
	height: 100%;
	color: red;
}

#leftDiv {
	position: absolute; 
	z-index: 1;	
	border-style: solid;
	border-width: thin;
	text-align: center;
	left: 0px;
}

#mainDiv {
	position: absolute; 
	z-index: 1;	
	border-style: solid;
	border-width: thin;
	text-align: center;
}

#dragDiv, #horizontal1, #horizontal2 {
	position: absolute; 
	z-index: 1000;
	border-width: 0px;
	background-color:gray;
}
	
#dragDiv {
	left: 150px;
	top: 50px;
	width: 5px;
}

#dragDiv:hover {
	background-color:white;
	cursor:col-resize; 
}

#horizontal1 {
	left: 0px;
	width: 100%;
	height: 5px;
}

#horizontal2 {
	left: 0px;
	top: 300px;
	width: 100%;
	height: 5px;
}

#horizontal2:hover {
	background-color:white;
	cursor:row-resize; 
}

/*
div.rightDiv {
	position: absolute; 
	left: 90%; 
	top: 10%; 
	width: 10%;
	height: 60%; 
	z-index: 1;	
	border: dotted;
	border-width: thin;
	text-align: center;
}*/

#bottomDiv {
	position: absolute; 
	z-index: 1;	
	border-style: solid;
	border-width: thin;
	
	width: 100%;
	left: 0px;
}

div.thumbDiv {
	position: relative;
	top: 0px;
	left:0px; 
	max-width: 15%;
	min-width: 5%;
	height: 100%; 
	z-index: 10;	
	border-style: solid;
	border-width: 1px;
	float: left;
	text-align:center;
}


div.loading-invisible{
    display:none;
	z-index: 1;
}

 div.loading-visible{
    display:block;

    /*position it at the very top-left corner*/
    position:absolute;
    top:0;
    left:0;
	width:100%;
	height:100%;
	
    text-align:center;
	vertical-align:middle;

    background:#000;
    opacity:.75;
	
	z-index: 10000;
}

