img.img-hide {
	display:none;
}

img.img-show {
	max-height: 100%;
	max-width: 100%;
}

div.darkDiv {
	/*background:#8A8A8A;
    opacity:1;
	background-color:#808080;
	*/
	
	text-align: center;
	
	position: absolute; 
	left: 10%; 
	top: 10%; 
	width: 30%;
	height: 60%; 
	
	border: dotted;
	border-width: thin;
	
}
