div.loadingdiv {
	background-image: url("loader.gif");
	background-position: center;
	background-repeat: no-repeat;
}

img.centerImage {
	display: none;
	max-height: 100%;
	max-width: 100%;
	position: relative;
}