/*
red #bf5138;
blue #607992;
dark gray #141414;
brown #6b3f2a;
light gray #4c484c;
green #82875f;
*/

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #141414;
	background-image: url("Particles005.png");
	background-position: center;
	background-repeat: no-repeat;
	
	-webkit-background-size: 100%; /* Safari */
	-moz-background-size: 100%; /* Firefox */
	-o-background-size: 100%; /* Opera */
	-khtml-background-size: 100%; /* Konqueror */
	
    color: #607992;
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Waltograph';
	src: url('waltographUI.ttf');
}

.font {
	font-family: Waltograph, "Comic Sans MS";
	font-size: 35px;
	text-shadow: 0 2px 0 #00a;  
}

div {
	overflow: hidden;
}

.loadingdiv {
	background-image: url("loader.gif");
	background-position: center;
	background-repeat: no-repeat;
}

header, #navCat, #sContent, #sAlbums, #sMainImage, #sImageList, footer {
	border: 1px solid #4c484c;
	overflow: hidden;
	position: absolute;
}

header, #navCat, #sContent, #sImageList, footer {
	left: 0;
	right: 0;
}

header {
    height: 98px;
	left: 0;
	line-height: 98px;
    text-align: left;
    top: 0;
	width: 698px;
}

header img {
	float: left;
	height: 80px;
	position: relative;
	width: 80px;
}

#navCat {
    height: 48px;
	left: 700px;
	line-height: 48px;
    text-align: right;
	top: 50px;
}

#navUL {
	position: absolute;
	right: 0;
}

.navLI {
	float: left;
	padding: 0 10px 0 10px;
	position: relative;
}

#sContent {
    bottom: 30px;
    top: 100px;
}

#sAlbums {
    bottom: 150px;
    left: 0;
    top: 0;
    width: 298px;
}

#albUp {
	height: 28px;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}

#albList {
	bottom: 30px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 30px;
	width: 100%;
}

#albDown {
	bottom: 0;
	height: 28px;
	position: absolute;
	text-align: center;
	width: 100%;
}

#albUp img, #albDown img, #imgLeft img, #imgRight img {
	height: 25px;
	opacity: 0.3;
	width: 25px;
}

#albUp img:hover, #albDown img:hover, #imgLeft img:hover, #imgRight img:hover, #toLeft img:hover, #toRight img:hover {
	opacity: 1.0;
}

#albUL {
	height: 10000px;
	left: 0;
	padding-top: 10px;
	position: absolute;
	top: 0;
	width: 100%;
}

.albLI {
	float: left;
	height: 130px;
	line-height: 130px;
	padding: 10px 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.albLI img {
	height: 100px;
	width: 100px;
}

#sMainImage {
    bottom: 150px;
    left: 300px;
    right: 0;
	top: 0;
}

#toLeft img, #toRight img {
	height: 45px;
	margin-top: -22px;
	opacity: 0.3;
	position: absolute;
	top: 50%;
	width: 45px;
}

#toLeft {
	bottom: 0;
	left: 0; 
	position: absolute;
	top: 0;
	width: 50px;
}

#imgDiv {	
	bottom: 0; 
	left: 50px;
	padding: 10px;
	position: absolute;
	right: 250px;
	text-align: center;
	top: 0;
}

#toRight {
	bottom: 0; 
	position: absolute;
	right: 200px;
	top: 0;
	width: 50px;
}

#imgInfo {
	border: 1px solid #4c484c;
	bottom: 0; 
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
}

#imgMain {
	max-height: 100%;
	max-width: 100%;
}

#sImageList {
    bottom: 0;
    height: 148px;
	line-height: 148px;
}

#imgLeft {
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100px;
}

#imgList {
	height: 100%;
	left: 100px;
	overflow: hidden;
	position: absolute;
	right: 100px;
}

#imgRight {
	height: 100%;	
	right: 0;
	position: absolute;
	text-align: center;
	width: 100px;
}

#imgUL {
	height: 100%;
	left: 0;
	position: absolute;
	width: 10000px;
}

.imgLI {	
	float: left;
	height: 100%;
	padding: 0 10px;
	position: relative;
	text-align: center;	
	width: 150px;
}

.imgLI img {
	height: 120px;
	padding: 15px;
	width: 120px;
}

footer {
    bottom: 0;
    height: 28px;
	line-height: 28px;
    text-align: center;
}