Port 22
Protocol 2
AllowGroups sshusers

SyslogFacility AUTH
LogLevel INFO
LoginGraceTime 2m
PermitRootLogin no
StrictModes yes
PubkeyAuthentication yes
AuthorizedKeysFile      .ssh/authorized_keys
HostbasedAuthentication no
IgnoreUserKnownHosts no
IgnoreRhosts yes
PermitEmptyPasswords no
UsePAM yes
AllowTcpForwarding yes
TCPKeepAlive yes
Subsystem       sftp    /usr/lib/misc/sftp-server

