html, body {
	height: 100%;
	overflow: hidden;
	font-family: /*"Comic Sans MS",*/ "Courier New", Courier, monospace;
	color: #494a3f;
}
	
body {
	background-color: #bbaa88;
	background-image: url("../img/bg2.png");
	height: 100%;
}

header, nav, section, article, aside, footer {
    display: block
}

div, nav, aside, section {
	/*border: 1px solid #990000;*/
}

input, inbox {
	background: transparent;
	border: 1px solid transparent;
	color: #494a3f;
	font-family: /*"Comic Sans MS",*/ "Courier New", Courier, monospace; 
	font-size: 14px;
}

#wrapper {
	background-color: transparent;
	background-image: url("../img/bg_page.png");
	background-repeat: repeat-x;
	
	height: 100%;
	position: relative;
	width: 90%;
	float: left;
	margin: 0 5%;
}

header {
	float: left;
	width: 100%;
	height: 95px;
	background-image: url("../img/rule.png");
	background-position: bottom center;
	background-repeat: no-repeat;
}

h1 { 
	color: #362c1f;
	font-size: 40px;
	font-family: "Crimson+Text", "Courier New", Courier, monospace;
	float: right;
	right: 50px;
	position: relative;
	text-shadow: 2px 2px 2px #8a7a60, -1px -1px 2px #000;
}

nav {
	float: left;
	font-weight: bold;
	font-size: 19px;
	height: 30px;
	left: 0px;
	position: relative;
	bottom: -15px;;
	width: 100%;
}

#main_menu{
	color: #362c1f;
	cursor: pointer;
	margin-left: 190px;
	position: relative;
	text-shadow: -2px -2px 4px #8a7a60;
}
	
#main_menu li{
	margin-right: 30px;
	float:  left;
}

#main_menu li.selected {
	color: #765c4f;
}

#main_menu li:hover {
	
	font-size: 20px;
}

#aside_l {
	float: left;
	font-family: "Comic Sans MS", "Courier New", Courier, monospace; 
	line-height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 160px;
}

#left_list {
	cursor: pointer;
}

#left_list li:hover {
	color: #765c4f;
}

#left_list li.selected {
	color: #765c4f;
	text-shadow: 0px 0px 4px #8a7a60;;
}

#aside_r {
	float: right;
	font-family: "Comic Sans MS", "Courier New", Courier, monospace; 
	line-height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 160px;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	margin-top: 16px;
	margin-bottom: 10px;
	text-decoration: underline;
	font-weight: bold;
}

.c_aside_list li {
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

#main_sec {
	line-height: 18px;
	position: relative;
	/*width: 100%;*/
	margin: auto;
	padding: 0 10px;
	overflow-y: hidden;
}

#main_list {
	width: 100%;
}

#input_inbox {
	border: 1px solid #494a3f;
	color: #494a3f;
	width: 400px;
}

#input_search {
	border: 1px solid #494a3f;
	color: #494a3f;
	width: 100px;
}

#ok_inbox, #ok_search {
	font-weight: bold;
	cursor: pointer/*crosshair*/;
	margin-left: -5px;
}

.c_task_active {
	color: #b74e08;
}

.c_task_skipped {
	color: #b30000;
}

.c_task_done {
	color: #696a5f;
	text-decoration: line-through;
}

.c_input_level1 {
	font-size: 20px;
	font-weight:bold;
	margin-top: 15px;
	text-decoration: underline;
	width: 500px;
}

.c_input_level2 {
	/*color: #494a3f;*/
	font-size: 16px;
	font-weight: bold;
	/*margin-top: 7px;
	margin-bottom: 2px;*/
	width: 400px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.c_input_date {
	font-size: 13px;
	font-style: italic;
	/*margin-left: 15px;
	margin-top: 0px;*/
	width: 150px;
}

.c_level2_list {
	/*list-style-type: none;*/
	margin-left: 30px;
}

.c_level2_list li {
	list-style-type: none;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.c_level2_list li:hover {
	list-style-type: disc;
	border-bottom: 1px dashed #000;
	border-top: 1px dashed #000;
}

.activeli {
	background-color: #b1986f;
}

/*.c_star_list {
	list-style-image:url("../img/star.gif");
}*/

.c_list_label {
	cursor: pointer;
	font-size: 20px;
	margin-right: 5px;
	text-weight: bold;
}

.c_text_button {
	color: #494a3f;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 12px;
	/*margin-left: 10px;*/
	text-shadow: 0 0 2px #333;
}

.c_text_button:hover {
	color: #362c1f;
	font-size: 15px;
}

.c_star_button {
	color: #494a3f;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	/*margin-left: 10px;*/
	text-shadow: 0 0 2px #333;
	opacity: 0;
}

.c_star_button_v {
	opacity: 1!important;
}

.c_star_button:hover {
	opacity: 1;
}

footer {
	background-color: transparent;
	background-image: url("../img/bg_footer.png");
	background-position: bottom;
	background-repeat: none;
	
	color: #494a3f;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.tooltip {
	font-family: Arial, Helvetica;
	font-size: 15px;
	top: 30px;
}

.scrollable {
	position: relative;
	overflow: hidden;
	height: 1500px;
	width: 100%;
}

.scrollable .items {
	position:absolute;
	overflow: hidden;
	height: 20000px;
}

a.prev, a.next {
	color: #494a3f;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

a.prev:hover, a.next:hover {
	color: #494a3f;
}

a.prev.disabled, a.next.disabled {
	visibility: hidden;
}