html,body {
color:#000;
font-family:Verdana, Helvetica;
}

body {
background-color:#404040;
background-image:url("../img/bg.png");
margin: 10px auto;
max-width:700px;
min-width:650px;
padding: 0 230px;
}

header,nav,section,article,aside,footer {
display:block;
}

/****************************************************************/

.convex, header, footer, #aside_l, #aside_r, #main_menu li, h2, input[type=submit] {
-webkit-box-shadow: -3px  0px 3px #3f3f3f inset, /*right*/
					 3px  0px 3px #2e2e2e inset,  /*left*/
					 0px  3px 3px #5f5f5f inset, /*top*/
					 0px -3px 3px #222222 inset; /*bottom*/
-moz-box-shadow: 	 inset -3px  0px 3px #3f3f3f, /*right*/
					 inset 3px  0px 3px #2e2e2e,  /*left*/
					 inset 0px  3px 3px #5f5f5f, /*top*/
					 inset 0px -3px 3px #222222; /*bottom*/
}

.concave, input[type=text] {
-webkit-box-shadow: -3px  0px 3px #2e2e2e inset, /*right*/
					 3px  0px 3px #4f4f4f inset,  /*left*/
					 0px  3px 3px #222222 inset, /*top*/
					 0px -3px 3px #5f5f5f inset; /*bottom*/
-moz-box-shadow: 	 inset -3px  0px 3px #2e2e2e,
					 inset  3px  0px 3px #4f4f4f,
					 inset  0px  3px 3px #222222,
					 inset  0px -3px 3px #5f5f5f;
}

.convex_text, #hello {
text-shadow: -1px 1px 1px #2e2e2e, 1px -1px 1px #4f4f4f;
}

.concave_text, #main_menu li, input[type=submit], footer {
text-shadow: -1px 1px 1px #4f4f4f, 1px -1px 1px #2e2e2e;
}

#wrapper {
background-color:transparent;
float: left;
/*border: 0 200px;*/
margin: 10px -230px;
padding: 0 230px;
position:relative;
width: 100%;
}

header,#aside_l,#aside_r,footer {
background-color: #363636;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
position:relative;
}

header {
-webkit-border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 0;	
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 0;
}

header, footer {
float:left;
margin: 0 -230px;
padding: 0 230px;	
width: 100%;
}

header {
height:160px;
}

#aside_l,#aside_r {
line-height:20px;
margin: 0 -230px;
padding: 10px;
width: 200px;
}

#aside_l {
float:left;
}

#aside_r {
float:right;
}

#main_sec {
-webkit-box-shadow:  0px  3px 2px #333 inset, /*top*/
					-3px  0px 2px #333 inset, /*right*/
					 0px -3px 2px #ccc inset, /*bottom*/
					 3px  0px 2px #ccc inset;  /*left*/
-moz-box-shadow: 	 inset  0px  3px 2px #333, /*top*/
					 inset -3px  0px 2px #333, /*right*/
					 inset  0px -3px 2px #ccc, /*bottom*/
					 inset  3px  0px 2px #ccc;  /*left*/
background-color: #aeaeae;
border: 0px solid transparent;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
float: left;
height: 200px;
margin-top: 40px;
position:relative;
width: 100%;
}

footer {
font-weight:700;
height:70px;
line-height:70px;
text-align:center;
}

/*******************************************************/

h1 {  
position: relative;  
font-size: 40px;  
margin-top: 30px;  
}

h1 span{
background: -webkit-gradient(linear, 
							/*left top, 
							right bottom, */
							left -330,
							right 390,
							color-stop(0.45, rgb(190,80,80)),
							color-stop(0.50, rgb(250,140,140)),
							color-stop(0.55, rgb(190,80,80))
							);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/*text-decoration: none; */
position: absolute; 
}  

#hello {
color: #555;
font-size: 14px;
line-height: 20px;
margin-right: -43px;
position: absolute;
right: 85px;
text-align: center;
text-shadow: -1px 1px 2px #444, 1px -1px 2px #111;
top: 30px;
}

nav {
bottom: 0;
float:left;
font-size:16px;
height:40px;
left:230px;
position: absolute;
}

#main_menu li {
background-color: #303030;
cursor:pointer;
float:left;
list-style: none;
line-height: 40px;
position: relative;
text-align: center;
width: 130px;
}

#main_menu li.selected{
-webkit-box-shadow: -3px  0px 3px #222222 inset, /*right*/
					 3px  0px 3px #4f4f4f inset,  /*left*/
					 0px  3px 3px #202020 inset, /*top*/
					 0px -3px 3px #5f5f5f inset; /*bottom*/
-moz-box-shadow: 	 inset -3px  0px 3px #222222,
					 inset  3px  0px 3px #4f4f4f,
					 inset  0px  3px 3px #202020,
					 inset  0px -3px 3px #5f5f5f;
background-image:url("../img/bg.png");
}

#main_menu li:hover {
background-color: #353535;
}

/*******************************************************/

input[type=text] {
background-color: #404040;
border:1px solid transparent;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
font-size:14px;
padding: 5px 10px;
}

input[type=text]:focus {
border: 1px solid #888;
-webkit-box-shadow: 0 0 3px #aaa inset;
-moz-box-shadow: inset 0 0 3px #aaa;
outline: 0 none;
}

input[type=submit] {
background-color: #3a3a3a;
border: 1px solid transparent;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
cursor: pointer;
font-size: 14px;
font-weight: bold;
margin-left: 5px;
padding: 5px 10px;
}

input[type=submit]:hover {
background-color: #454545;
}

/*******************************************************/

#inbox_form {
margin-top: -40px;
width: 100%;
}

#t {
	width: 100%;
}

#t2 {
	width: 75px;
	text-align: right;
}

#input_inbox {
width: 100%;
}

#search_form {
bottom: 5px;
right: 10px;
position: absolute;
}

#input_search {
width: 130px;
}

/*******************************************************/

h2 {
color: #c05050;
font-size:14px;
font-weight:bold;
margin:5px auto;
text-align: center;
text-transform: capitalize;
text-shadow: -1px 1px 1px #444, 1px -1px 1px #111;
padding: 7px 0;
}

.c_aside_list {
margin: 0 10px;
}

.c_aside_list li {
color: #888;
font-size:13px;
cursor:pointer;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
width:100%;
}

.c_aside_list li.selected {
color:#c05050;
text-shadow:0 0 1px #8a7a60;
}

/*******************************************************/

#left_control {
color:#494a3f;
cursor:pointer;
font-size:15px;
line-height:45px;
text-shadow:0 0 2px #333;
}

#left_form {
display:none;
position: relative;
width:100%;
}

#left_form input[type=text] {
float: left;
font-size: 13px;
width: 125px;
}

/*******************************************************/

#main_list {
color: #000;
height: 100%;
margin: 10px 0px;
width:100%;
}

#main_list input[type=text] {
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
background: transparent;
border: 1px solid transparent;
-webkit-box-shadow: none;
-moz-box-shadow:none;
}

#main_list input[type=text]:focus {
-webkit-box-shadow:  0px  1px 2px #333 inset, /*top*/
					-1px  0px 2px #333 inset, /*right*/
					 0px -1px 2px #ccc inset, /*bottom*/
					 1px  0px 2px #ccc inset;  /*left*/
-moz-box-shadow: 	 inset  0px  1px 2px #333, /*top*/
					 inset -1px  0px 2px #333, /*right*/
					 inset  0px -1px 2px #ccc, /*bottom*/
					 inset  1px  0px 2px #ccc;  /*left*/
}

.c_task_active {
color:#b77e08!important;
}

.c_task_skipped {
color:#b33000!important;
}

.c_task_done {
color:#696a5f!important;
text-decoration:line-through;
}

div.item {
margin: 0px 10px;
}

.c_input_level1 {
font-size:14px!important;
font-weight:bold;
margin-left: 5px;
text-decoration:underline;
width:500px;
}

.c_input_level2 {
font-size:12px!important;
font-weight:bold;
margin: 0px!important;
overflow:hidden;
white-space:nowrap;
width:300px;
}

.c_input_date {
font-size:12px!important;
font-style:italic;
margin:0 15px;
width:150px;
}

.c_level2_list {
margin: 0px 0px 3px 30px;
}

.c_level2_list li {
border-bottom:1px solid transparent;
border-top:1px solid transparent;
list-style-type:none;
}

.c_level2_list li:hover {
border-bottom:1px dashed #000;
border-top:1px dashed #000;
list-style-type:disc;
}

.activeli {
background-color:#b1986f;
}

.c_list_label {
cursor:pointer;
font-family: monospace;
font-size:20px;
text-align: left;
width: 10px;
}

.c_text_button {
color:#494a3f;
cursor:pointer;
font-size:15px;
text-shadow:0 0 2px #333;
}

.c_text_button:hover {
color:#362c1f;
font-size:15px;
}

.c_star_button {
color:#696a5f;
cursor:pointer;
font-size:12px;
line-height:12px;
opacity:0;
text-shadow:0 0 2px #333;
}

.c_star_button_v {
color:#362c1f;
opacity:1;
}

.c_star_button:hover {
opacity:1;
}

/*.scrollable {
overflow:hidden;
position:relative;
width:100%;
}*/

.scrollable .items {
height:20000px;
overflow:hidden;
position:absolute;
}

a.prev,a.next {
color:#494a3f;
cursor:pointer;
font-size:20px;
}

a.prev:hover,a.next:hover {
color:#292a1f;
}

.disabled {
visibility:hidden;
}