html, body {
	height:100%;
}

body {
	background:black;
	color:#bba;
	font-family:Georgia,Serif;
	overflow: hidden;
	padding-left:20px;
	padding-right:20px;
}

#header {
	font-family:Brush Script MT, Comic Sans MS;
	font-size:40px;
	font-style:italic;
	height:50px;
	line-height:50px;
	position:relative;
	width:100%;
}

#wrapDiv {
	border:3px double #111111;
	height:80%;
	position:relative;
}

#leftDiv {
	position:absolute;
	float:left;
	height:100%;
	width: 200px;
}

#imagesDiv {
	position:relative;
	float:right;
	height:100%;
}

#rightDiv {
	position:relative;
	float:right;
	height:100%;
	overflow:hidden;
	width:200px;
}

#containerDiv {
	height:70%;
	margin-top:5px;
	position:relative;
	width:100%;
	text-align:center;
}

#image{
	max-width:100%;
	max-height:100%;
}

#captionDiv {
	color:#888877;
	font-style:normal;
	font-family:Brush Script MT, Comic Sans MS;
	font-size:25px;
	height:40px;
	text-align:center;
	vertical-align:middle;
	width:100%;
}

#thumbsDiv {
	height:70px;
	overflow:hidden;
	position:relative;
}

#thumbs {
	width:10000px;
}

img.thumb {
	cursor:pointer;
	display:block;
	height:auto;
	left:auto;
	opacity: 0.3;
	top:auto;
	width:100%;
	height:100%;
}

img.activethumb {
	opacity: 1.0;
}

img.thumb:hover {
	opacity: 1.0;
}

li.lithumb {
	background:#000000 none repeat scroll 0 0;
 	border:3px double #111111;
	float:left;
 	height:50px;
 	margin:0 2px;
	overflow:hidden;
	position:relative;
 	width:68px;
 }
 
 li.activelithumb {
 	border-color:#444422;
 }
 
#arrowsDiv {
	height:25px;
	left:50%;
	position:relative;
	margin-left:-14px;
	text-align:center;
}

#toLeft, #toRight {
	background: url('arrows.gif');
	background-repeat:no-repeat;
 	display: block;
	float:left;
	height: 9px;
 	width: 16px;
}

#toLeft {
	background-position:
  		0px /* Смещение по горизонтали */
  		0px; /* Смещение вверх по вертикали */
	left:-10px;
	position:relative;
}

#toRight {
	background-position:
  		-16px /* Смещение по горизонтали */
  		0px; /* Смещение вверх по вертикали */
	left:10px;
	position:relative;
}

#toLeft:hover {
	background-position:
  		0px /* Смещение по горизонтали */
  		-8px; /* Смещение вверх по вертикали */
}

#toRight:hover {
	background-position:
  		-16px /* Смещение по горизонтали */
  		-8px; /* Смещение вверх по вертикали */
}

#footer {	
	border-top: 1px solid #111111;
	font-size:10px;
	font-style:italic;
	height:50px;
	line-height: 20px;
	margin-top:20px;
	position:relative;
	text-align:center;
	vertical-align:middle;
	width:100%;
}

.log {
	font-family:Helvetica;
	font-size: 9pt;
	position:relative;
}

#topDiv {
	background:#000000;
	display:none;
	height:100%;
	left:0px;
	position:absolute;
	text-align:center;
	top:0px;
	width:100%;
	z-index:1000;
} 

#topImage {
	max-height:100%;
	max-width:100%;
}
