html, body { height:100%; }

body {
	background:black;
	color:#bba;
	font-family:Georgia,Serif;
	overflow: hidden;
	padding-left:20px;
	padding-right:20px;
}

#header {
	font-family:Brush Script MT, Comic Sans MS;
	font-size:40px;
	font-style:italic;
	height:50px;
	line-height:50px;
	position:relative;
	width:100%;
}

#wrapDiv {
	border:3px double #111111;
	height:80%;
	position:relative;
}

#leftDiv {
	position:absolute;
	float:left;
	height:100%;
	width: 200px;
}

#imagesDiv {
	position:relative;
	float:right;
	height:100%;
}

#rightDiv {
	position:relative;
	float:right;
	height:100%;
	overflow:hidden;
	width:200px;
}

#containerDiv {
	height:70%;
	margin-top:5px;
	position:relative;
	width:100%;
	text-align:center;
}

#image {
	cursor:pointer;
	max-width:100%;
	max-height:100%;
}

.loader {
	left: 50%;
	margin-top:-5px;
	margin-left:-5px;
	position:absolute;
	top:50%;
}

#captionDiv {
	color:#888877;
	font-style:normal;
	font-family:Brush Script MT, Comic Sans MS;
	font-size:25px;
	height:30px;
	text-align:center;
	vertical-align:middle;
	width:100%;
}

#thumbsDiv {
	height:56px;
	overflow:hidden;
	position:relative;
}

#thumbs { width:10000px; }

img.thumb {
	cursor:pointer;
	height:auto;
	opacity: 0.3;
	max-width:100%;
	max-height:100%;
}

img.activethumb { opacity: 1.0; }

img.thumb:hover { opacity: 1.0; }

li.lithumb {
	background:#000000 none repeat scroll 0 0;
 	border:3px double #111111;
	float:left;
 	height:50px;
	overflow:hidden;
	position:relative;
	text-align:center;
 	width:68px;
 }
 
li.activelithumb { border-color:#444422; }
 
#arrowsDiv {
	height:25px;
	left:50%;
	margin-left:-14px;
	position:relative;
	text-align:center;
	vertical-align:middle;
}

#toLeft, #toRight {
 	display: block;
	float:left;
	color: #888877;
	font-family:Brush Script MT, Comic Sans MS;
	font-size:25px;
	font-style:italic;
	height: 30px;
	position:relative;
	vertical-align:middle;
 	width: 16px;
}

#toLeft { left:-40px; }

#toRight { left:20px; }

#toLeft:hover, #toRight:hover {
	color:red;
}

#footer {	
	border-top: 1px solid #111111;
	font-size:10px;
	font-style:italic;
	height:50px;
	line-height: 20px;
	margin-top:20px;
	position:relative;
	text-align:center;
	vertical-align:middle;
	width:100%;
}

.log {
	font-family:Helvetica;
	font-size: 9pt;
	position:relative;
}

#topDiv {
	background:#000000;
	bottom:0px;
	display:none;
	left:0px;
	padding: 20px 20px 20px 20px;
	position:absolute;
	right:0px;
	text-align:center;
	top:0px;
	z-index:1000;
} 

#topImage {
	max-height:100%;
	max-width:100%;
}
