html, body {
	height:100%;
}

body {
	padding-left:20px;
	padding-right:20px;
	background:white;
	text-align:center;
	background:black;
	color:#bba;
	font:80%/140% georgia,serif;
	overflow: hidden;
}

#header {
	position:relative;
	width:100%;
	height:50px;
	font-family:Brush Script MT, Comic Sans MS;
	font-size:40px;
	line-height:50px;
	font-style:italic;
}

#wrap {
	position:relative;
	border:3px double #111111;
}

#list {
	position:absolute;
	width: 200px;
}

#images {
	position:relative;
	float:right;
	text-align:center;
}

#container {
	position:relative;
	margin-top:5px;
}

#thumbs {
	position:relative;
	height:70px;
	width:702px;
}

#footer {
	position:relative;
	width:100%;
	height:20px;
	margin-top:20px;
	vertical-align:middle;
	line-height: 20px;

	border-top: 1px solid #111111;
	text-align:center;
	font-size:10px;
	font-style:italic;
}

