body {
	font-family: helvetica,tahoma,verdana,sans-serif;
	font-size:13px;
}

table {
	border: thin solid;
	padding: 0px;
}

td {
	border: thin solid;
	padding: 10px;
	text-align: center;
}

th {
	border: thin solid;
	padding: 10px;
	background-color: #eee;
}
